section.bio
    .columns
        .column
            h1.bio__name #{bio.fullName}
            p.bio__title #{bio.title}
        .column.has-text-right
            div #{bio.location}
            div.links-inline
                a.bio__email(href=`mailto:${bio.email}`) #{bio.email}
                a.bio__phone(href=`tel:+1${bio.phone}`) #{bio.phone}
    .content
        p #{bio.info}
