mixin ul(list, className)
    ul(class=className): each i in list
        li #{i}

mixin list(list, className)
    +ul(list, className)

//- mixin listOpt(list, className) 
//-     if list && list.length > 0
//-         +list(list, className)

mixin listSectionOpt(list, title, className, listClassName = '')
    if list && list.length > 0
        section(class=`cv-list ${className}`)
            h2 #{title}
            +list(list, listClassName)

mixin listSectionOptInline(list, title, className, listClassName)
    if list && list.length > 0
        section(class=`cv-list cv-list--inline ${className}`)
            h2 #{title}
            +list(list, listClassName)