mixin proj(p)
    article.proj
        header: .columns.is-gapless
            .column
                h2.proj__comp.asc-name #{p.company}
                h3.proj__title.asc-title #{p.title}
                if p.url
                    a(href=p.url) #{p.url}
            .column
                +cvsItemInfo(p.date, null, null, 'proj__date', null, true)

        if p.info
            .proj__info.content
                p #{p.info}

        +listSectionOptInline(p.tech, 'Technologies', 'proj__tech','tech-list')
        +listSectionOpt(p.details, 'Contributions', 'proj__details')
