mixin proj(p)
    article.proj
        header.proj__info
            h2 #{p.title}
            div: +monthYear(p.date)
            div #{p.company}
            if p.url
                a(href="#{p.url}") #{p.url}

        if p.info
            div.proj__info
                p #{p.info}

        +listSectionOpt('proj__details', 'Project Details', p.details, 'detail-list')
        +listSectionOpt('proj__tech', 'Technologies Used', p.tech, 'tech-list')
