mixin proj(p)
    article.proj
        header: .columns
            .column
                h2.proj__comp #{p.company}
                h3.proj__title #{p.title}
                if p.url
                    a(href=p.url) #{p.url}

            .column.has-text-right
                div: +monthYear(p.date)

        if p.info
            .proj__info.content
                p #{p.info}

        +listSectionOptInline('proj__tech', 'Technologies', p.tech, 'tech-list')
        +listSectionOpt('proj__details', 'Project Contributions', p.details, 'detail-list')
